# Bytecode
__pycache__/
*.py[cod]

# Virtuelle Umgebungen
.env
.venv
env/
venv/

# Build- und Distributionsordner
build/
dist/
*.egg-info/

# Test- und Cache-Dateien
.coverage
.pytest_cache/
.cache/

# Jupyter
.ipynb_checkpoints/

# Lokale Daten
/data/
